html {
border:0; padding:0; margin:0;
}
body {
border:0; padding:0; margin:0;
}

div#body {
	border:0; padding:0; margin:0 auto; width:900px;
}

div#logo{
	border:0; padding:0; margin:0; float:left; 
	/*border:1px solid blue;*/
}

div#navigation {
	border:0; padding:0; margin:0; float:right; height:109px;  
	/*border:1px solid green;*/
}
div#navigation  div#address {
float:right;  border:1px solid red; 
}

div#clear { clear:both; }

div#menu {
	border:0; padding:0; margin:0; width:100%; border:1px solid green;
	background
}

div#content {
	border:0; padding:0; margin:0; width:100%; border:1px solid green;
}

div#footer {
	border:0; padding:0; margin:0; width:100%; color:white; background-color:black;
}

img#mapA{
	width:19px; height:28px; background:url(map.png) 0px -35px;	
}
img#mapB{
	width:19px; height:28px; background:url(map.png) 0px -70px;	
}