@CHARSET "UTF-8";
/*
 * Created As: magic-locations-styles.css
 * Created By: Michael Remijan
 * Created On: 3 Nov 2011
 * References:
 * 	- none
 *
 * The purpose of this style sheet is to provide styling for locations items
 */
#philosophy-wrapper{
	position:relative;
	overflow:visible;
}
#philosophy-wrapper p {
	font-family:arial;
	font-size:12pt;
	line-height:2.0em;
}
#philosophy-wrapper div.img {
	position:relative;
	float:right;
	clear:right;
	width:200px;
	height:262px;	
	margin-right:-45px;
	margin-left:10px;
	overflow:visible;
    background-image:url('../images/shared/float-right-drop-shadow.png');
	background-repeat:none;
}