@CHARSET "UTF-8";


body {
    background-color:rgb(0,26,230);
    background-repeat:repeat-x;
    background-image:url('../images/homepage/background-gradient.png');
    margin:0; border:0; padding:0;
}

#content {
    width: 800px; margin: 0px auto;
}

#nav-menu {
    //background-color:rgb(237, 219, 184);
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    }

        .homepage-link {
            color:while;
            font-family:arial;
            font-size:18px;
            text-decoration:underline;
            //border-bottom:2px solid rgb(237, 219, 184);
        }

        .homepage-link:hover {
            //border-bottom:2px solid black;
        }

/* Begin Navigation Bar Styling */
   #nav {
      width: 100%;
      float:left;
      margin: 0 0 1em 0;
      padding: 0;
      list-style: none;
      background-color: rgb(237, 219, 184);
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      //-moz-border-radius: 15px;
      //border-radius: 15px;
    }

   #nav li {
      float: left; }
   #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: normal;
      color: #069;
      //border-right: 1px solid #ccc;
      font-family: arial;}
   #nav li a:hover {
      color: #c00;
      background-color: #fff;
      //-moz-border-radius: 15px;
      //border-radius: 15px;
     }



#gamesHolder { clear:both; background: url(../design/shadow.png) no-repeat center 295px; padding: 5px; width: 600px;  margin: 0px auto;}

#header { position: relative; height: 120px; }
#header h1 { position: absolute; top: 2px; left: 2px; color: #333333; font-size: 70px; }
#header .h1 { color: #f3f3f3; top: 0px; left: 0px; }


#header h2 { position: absolute; top: 82px; left: 2px; color: #333333; font-size: 30px; }
#header .h2 { top: 80px; left: 0px;  color: #f3f3f3; }


#header h1, #header h2 { margin: 0; padding: 0; font-family: Georgia; font-weight: normal; }

ul { padding: 0 0 0 15px; margin: 0; }

.holder {
	background: url(design/shadow.png) no-repeat center bottom; padding: 17px 5px;  }
.text { background-color: #f3f3f3; padding: 30px; margin-top: 10px; line-height: 20px; overflow: hidden; zoom: 1; }

.holder h2 { font-family: Georgia; margin: 0; padding: 0px 0px 15px 0px; }

code { display: block; background-color: #fff; padding: 10px; overflow: auto; }
pre { margin: 10px 0px; padding: 0; }

.download { width: 207px; height: 77px; background: url(design/download.png) no-repeat; float: right; }

.dow {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	-moz-text-shadow: 0 1px 1px #ccc;
    -webkit-text-shadow: 0 1px 1px #ccc;
    text-shadow: 0 1px 1px #ccc;
    background-color: #76a7db;
    color: white;
    font-size: 18px;
    line-height: 50px;
    width: 200px;
    text-align: center;
    float: left;
    margin-left: 5px;
    text-decoration: none;
}
