@CHARSET "UTF-8";

body {
    background-color:rgb(0,26,230);
    background-repeat:repeat-x;
    background-image:url('../images/shared/background-gradient.png');
    margin:0; border:0; padding:0;
}
h1 {
    margin:0; border:0; padding:0;
    font-family:arial;
    font-size:16pt;
    font-weight:bold;
	margin-bottom:15px;
}
td { 
	vertical-align:top;
	text-align:left;
	padding-right:10px;
	font-size:12pt;
	font-family:arial;
	padding-bottom:0px;
}
li {
	font-family:arial;
	font-size:12pt;
	line-height:2.0em;
}
td.label { 
	font-weight:bold;	
	color:black;
}

.clear {
     clear:both; height:0; overflow:hidden; 
}
.opaque {
	background-image:url('../images/shared/opaque.png'); 
	background-repeat:repeat;
}
#body-wrapper {
    width: 800px;
    margin:0px auto;	
	overflow:visible;
}
#page-wrapper {
	margin:0; border:0; padding:0;
	position:relative; 
	padding:12px;	
	overflow:visible;
	float:left;
}
#page-wrapper p {
	font-family:arial;
	font-size:12pt;
	line-height:2.0em;
	text-indent:40px;
}
#page-wrapper div.img {
	position:relative;
	float:right;
	clear:right;
	width:200px;
	height:262px;	
	margin-right:-45px;
	margin-left:10px;
	overflow:visible;
    background-image:url('../images/shared/float-right-drop-shadow.png');
	background-repeat:none;
}

