@CHARSET "UTF-8";

body {
    background-color:rgb(0,26,230);
    background-repeat:repeat-x;
    background-image:url('../images/shared/background-gradient.png');
    margin:0; border:0; padding:0;
}
.clear {
    clear:both;
}
.opaque {
	background-image:url('../images/shared/opaque.png'); 
}
#body-wrapper {
    width: 800px;
    margin:0px auto;	
	overflow:auto;
}
#page-wrapper {
	margin:0; border:0; padding:0;
	overflow:auto; 
	position:relative; 
	padding:12px;	
}

